<div class="header">
  <div class="header-left">
    <button (click)="this.toggleDrawer()" *ngIf="hasDrawer" mat-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button class="logo" routerLink="/">STExS</button>
    <button mat-stroked-button *ngIf="loggedIn" routerLink="/dashboard">Dashboard</button>
    <button mat-stroked-button *ngIf="loggedIn && isAdmin" routerLink="/users">Users</button>
	<button *ngIf="loggedIn" mat-stroked-button [routerLink]="isAdmin || isTeacher ? ['/modules-admin'] : ['/modules-user']">Modules</button>
  </div>
  <div class="header-right">
    <!-- LOGGED IN -->
    <div *ngIf="this.loggedIn">
      <button mat-button class="right-aligned" [routerLink]="['/profile']">
        {{userName}}
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
      </button>
      <button (click)="logout()" mat-stroked-button>Logout</button>
    </div>

    <!-- NOT LOGGED IN -->
    <div *ngIf="!this.loggedIn">
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Register</button>
    </div>
  </div>
</div>
