<mat-card class="master-card">
  <div *ngIf="!this.isLoading" class="vertical-container">
    <mat-label class="title">{{this.exercise?.exerciseName}}</mat-label>
    <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>
    <quill-view-html [content]="exercise!.exerciseDescription!" theme="bubble"></quill-view-html>
    <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>
    <div class="horizontal-flex answer">
      <mat-form-field class="input vertically-centered">
        <mat-label>Output</mat-label>
        <input #answerInputField [readonly]="exercise?.userHasSolvedExercise ?? false" matInput class="input-field"
          [(ngModel)]="this.answerString">
      </mat-form-field>
      <button [disabled]="exercise?.userHasSolvedExercise ?? false" class="submit" mat-raised-button color="accent"
        (click)="this.createNewSubmission(this.timeTrackId, true)">submit</button>
    </div>
  </div>
  <mat-spinner *ngIf="this.isLoading" style="margin: 0 auto; scale: 0.5;"></mat-spinner>
</mat-card>
