<mat-card>
  <div>
  <div class="horizontal-container space-between">
    <div class="horizontal-container">
      <mat-card-title class="title vertically-centered">test exercise title</mat-card-title>

      <mat-chip-list class="vertically-centered">
        <mat-chip disableRipple="true" selected>syntax exercise</mat-chip>
        <mat-chip disableRipple="true" selected>parsons puzzle</mat-chip>
        <!--
        <mat-chip disableRipple="true" selected>find the bug</mat-chip>
        <mat-chip disableRipple="true" selected>fill in the blanks</mat-chip>
        <mat-chip disableRipple="true" selected>natural language description</mat-chip>
        <mat-chip disableRipple="true" selected>code output</mat-chip>
        <mat-chip disableRipple="true" selected>programming exercise</mat-chip>
        -->
      </mat-chip-list>
    </div>
    <!-- DELETE BUTTON -->

    <button mat-button color="warn" (click)="deleteExerciseDialog()">
      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="delete_forever" ></mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-card-content style="margin-top: 5px">
    <p>test Task description</p>
  </mat-card-content>
  </div>
</mat-card>
