html {
  padding: 0;
}


.dialog {
  width: 350px;
  padding: 0;
}

.select {
  width: 100%;
  margin: auto;
  padding: 0;
}

.button-container {
  width: fit-content;
  margin: auto;
  padding: 0;
}
