mat-card {
  background-color: #484848;
  width: inherit;
  overflow: hidden;
  min-width: 300px;
}

.title {
  height: 100%;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.space-between {
  justify-content: space-between;
}

mat-chip-list {
  min-width: fit-content;
  overflow: hidden;
}
