<div *ngIf="this.moduleList != null else loading">
  <div class="flex-layout">
    <div class="flex-item" *ngFor="let module of this.moduleList">
        <app-module class="fit-parent" [module]="module" (onModuleDelete)="this.moduleChange.emit()" [isModuleAdmin]="this.isModuleAdmin"></app-module>
    </div>
  </div>

  <!-- NO MODULES -->
  <div *ngIf="this.moduleList.length == 0">
    <p>No modules to display</p>
  </div>
</div>

<ng-template #loading>
  <mat-spinner mode="indeterminate" style="transform: scale(0.5)"></mat-spinner>
</ng-template>
