.form-field {
  width: inherit;
  margin-bottom: -7px;
  margin-top: 5px;
  height: fit-content;
}

.form-field-container {
  min-height: 55px;
  height: fit-content;
  background-color: #444444;
  border-radius: 5px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
  height: 150px;
}
