<div>
  <div class="elevated">
    <mat-form-field class="form-field">
      <input *ngIf="!this.isOnlyInspecting" matInput [(ngModel)]="this.name" (keyup)="emitValues()" type="text" placeholder="Name">
      <input *ngIf="this.isOnlyInspecting" disabled matInput [(ngModel)]="this.name" (keyup)="emitValues()" placeholder="Name">
    </mat-form-field>
  </div>
  <div style="margin-top: 10px" class="elevated">
    <mat-label style="white-space: nowrap">Description / Question</mat-label>
    <div style="margin-bottom: 5px"></div>
    <quill-editor *ngIf="!this.isOnlyInspecting" [(ngModel)]="this.description" placeholder="write here" (keyup)="emitValues()"></quill-editor>
    <quill-view-html *ngIf="this.isOnlyInspecting" [content]="this.description" theme="bubble"></quill-view-html>
  </div>
</div>
