.example-accordion-item {
  display: block;
  color: #02c0a2;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
  min-width: 71px;
  display: flex;
  flex-direction: row;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 10px;
}

.example-accordion-item-body {
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;

  justify-content: space-between;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #333333;
  border-radius: 5px;
}

.button-container {
  //transform: scale(0.7);
  align-self: start;
  height: 70%;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
