.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  margin-bottom: -10px;
}

.vertically-centered-text {
  margin-top: auto;
  margin-bottom: auto;
}

.min-width {
  min-width: 400px;
  margin-top: 10px;
}

table {
  background-color: #505050;
  width: 100%
}

.table-div {
  background-color: #505050;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}
