.edit-wrapper{
  display: flex;
  flex-direction: row;
  align-self: center;
}

.edit-icon {
  scale: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.edit-text {
  font-variant: small-caps;
  margin-left: 3px;
  margin-top: auto;
  margin-bottom: auto;
}

.edit-button {
  padding: 0;
}
