mat-card {
  margin-top: 5px;
  overflow-x: hidden;
}

.title {
  font-weight: bold;
  margin-right: 20px;
  min-width: 200px;
}

table {
  background-color: #505050;
  width: 100%
}

.table-div {
  background-color: #505050;
  border-radius: 5px;
  overflow-y: auto;
  padding: 5px;
  max-height: 500px;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  margin-bottom: -10px;
}

.min-cell-width {
  min-width: 200px;
}
