<mat-card>
  <div>
    <div class="horizontal-flex">
      <mat-card-title class="title">Exercise List</mat-card-title>

      <!-- SEARCH BAR -->
      <div style="display: flex; justify-content: right">
      <span>
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput [(ngModel)]="this.searchInput" (keyup)="this.search(this.searchInput)">
          <button mat-icon-button matSuffix (click)="this.search(this.searchInput)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </span>
      </div>
    </div>
    <div class="table-div" *ngIf="this.results != null else loading">
      <mat-progress-bar *ngIf="this.isLoading" color="accent" mode="indeterminate"></mat-progress-bar>
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          *ngFor="let exercise of this.results; let index = index;"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index">
          <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            <mat-label class="vertically-centered">
              {{ exercise.exerciseName }}
            </mat-label>
            <span class="example-accordion-item-description">
              <mat-label style="color: #999;">Click to {{ accordionItem.expanded ? 'close' : 'open' }}</mat-label>
              <button style="margin-left: 5px" (click)="addExercise(exercise.id!)" mat-button><mat-icon>add</mat-icon> add to chapter</button>
            </span>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index">
            <div class="horizontal-container">
              <mat-label style="margin-right: 5px">Description</mat-label>
              <mat-divider style="width: 100%; margin:auto"></mat-divider>
            </div>
            <div class="elevated">
              <quill-view-html [content]="exercise.exerciseDescription!" theme="bubble"></quill-view-html>
            </div>
            <div class="horizontal-container" style="margin-top: 10px">
              <mat-label style="white-space: nowrap; margin-right: 5px">Achievable Points</mat-label>
              <mat-divider style="width: 100%; margin:auto"></mat-divider>
            </div>
            <div class="elevated">
              <input matInput disabled [value]="exercise.achieveablePoints!.toString()!">
            </div>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </div>
    <ng-template #loading>
      <mat-spinner mode="indeterminate" style="transform: scale(0.5); margin:auto;"></mat-spinner>
    </ng-template>
  </div>
</mat-card>
