<div class="container">
    <div class="flex-item">
        <mat-progress-bar *ngIf="this.showLoading" mode="indeterminate" color="accent"></mat-progress-bar>
        <mat-card [ngClass]="this.showLoading ? 'hide-top-round-corners' : ''"> 
            <mat-card-subtitle>Register</mat-card-subtitle>
            <mat-card-title>STeX</mat-card-title>
            <mat-card-content>
                <form>
                    <div class="row">
                        <mat-form-field class="name-input">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                        <mat-form-field class="name-input">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <mat-label>E-Mail</mat-label>
                        <input type="email" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Gender</mat-label>
                        <mat-select required>
                          <mat-option value="male">male</mat-option>
                          <mat-option value="female">female</mat-option>
                          <mat-option value="other">other</mat-option>
                        </mat-select>
                    </mat-form-field>                     
                    <mat-checkbox [checked]="this.agreedToTOS" (change)="this.agreedToTOS = $event.checked">Agree to <a href="https://google.com/">Terms of Service</a> *</mat-checkbox>
                    <div *ngIf="this.agreedToTOS then showRegister else disableRegister"></div>
                    <ng-template #showRegister>
                        <button type="button" (click)="register()" mat-button mat-raised-button color="accent">Register</button>
                    </ng-template>
                    <ng-template #disableRegister>
                    <button type="button" disabled mat-button mat-raised-button color="accent">Register</button>
                    </ng-template>
                    <a mat-button mat-stroked-button color="secondary" href="/auth/login">Login</a>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
