<div *ngIf="module != null else loading" class="master-card">
  <mat-progress-bar *ngIf="this.showLoading" color="accent" mode="indeterminate"></mat-progress-bar>
  <mat-card [ngClass]="this.showLoading ? 'hide-top-round-corners' : ''">
    <div class="horizontal-container" style="height: 60px">
      <mat-card-title class="module-name vertically-centered">{{module.moduleName}}</mat-card-title>
      <div class="horizontal-container">
        <div class="horizontal-container vertically-centered" style="margin-right: 20px;">
          <mat-label class="vertically-centered margin-right" *ngIf="moduleParticipantCount != null">
            {{this.moduleParticipantCount!}} / {{this.module!.maxParticipants ?? "unlimited"}}
          </mat-label>
        </div>
        <div class="horizontal-container vertically-centered" *ngIf="!this.module.isArchived">
          <button class="margin-right" *ngIf="this.participationStatus == moduleParticipationStatus.Admin" mat-button [routerLink]="['/module/administrate']" [queryParams]="{id:module.moduleId}">
            <mat-icon class="icon" aria-hidden="false" aria-label="Edit Button" fontIcon="edit"></mat-icon>
          </button>
          <button mat-stroked-button *ngIf="this.participationStatus == moduleParticipationStatus.NotParticipating" (click)="joinModule(module.moduleId!)">Join</button>
          <button mat-stroked-button *ngIf="this.participationStatus == moduleParticipationStatus.Admin && module != null" disabled>Admin</button>
          <button mat-stroked-button *ngIf="this.participationStatus == moduleParticipationStatus.Accepted && module != null" disabled>Joined</button>
          <button mat-stroked-button *ngIf="this.participationStatus == moduleParticipationStatus.Requested && module != null" disabled>Requested</button>
        </div>

        <div *ngIf="this.module.isArchived" class="vertically-centered">
          <mat-label>archived on {{this.module.archivedDate | date:'medium'}}</mat-label>
        </div>
      </div>
    </div>
    <mat-card-content>
      <mat-divider style="margin-top: 10px; margin-bottom: 10px"></mat-divider>

      <div class="description-text vertically-centered">
        <div class="space-between">
          <mat-label>{{module.ownerFirstName}} {{module.ownerLastName}}</mat-label>
          <mat-label>{{module.creationTime | date:'medium'}}</mat-label>
        </div>
        <mat-divider style="margin-top: 10px; margin-bottom: 10px"></mat-divider>
        <mat-label style="margin-top: auto; margin-bottom: auto;">{{module.moduleDescription}}</mat-label>
      </div>

      <mat-divider style="margin-top: 10px; margin-bottom: 10px"></mat-divider>

      <mat-card *ngIf="this.showChapters">
        <mat-card-title>Chapters</mat-card-title>
        <mat-card-content>
          <mat-divider style="margin-top: 5px; margin-bottom: 10px"></mat-divider>
          <div class="chapter-list">
            <div class="chapter-item" *ngFor="let chapter of this.chapterList" style="margin-bottom: 5px">
              <app-chapter-admin-listitem [chapter]="chapter" [showSolveButton]="true"></app-chapter-admin-listitem>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-label *ngIf="!this.showChapters">no chapters in this module</mat-label>

    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <mat-spinner mode="indeterminate" style="transform: scale(0.5)"></mat-spinner>
</ng-template>
