<div
  style="min-height: 35px; width: 100%; padding: 0px 0px;"
  class="drag-container"
  cdkDropList (cdkDropListDropped)="drop($event)"
  #drop_list="cdkDropList"
  (cdkDropListEntered)="entered($event)"
  (cdkDropListExited)="exited($event)"
[cdkDropListData]="cdkDropListData"
[cdkDropListConnectedTo]="[drop_list]">
  <div class="drag-item" cdkDrag *ngFor="let item of cdkDropListData"
  (cdkDragMoved)="dragMoved($event)" [style.margin-left]="20 * (item.indentation ?? 0) + 'px'" (cdkDragStarted)="dragStarted($event)">
    {{item.text}}
    <mat-icon>drag_handle</mat-icon>
    <ng-template cdkDragPlaceholder>
        <div class="drag-item" style="background-color: #ccc">
        {{item.text}}
      </div>
    </ng-template>
  </div>
</div>
