<div *ngIf="module">
  <mat-card>
    <div class="horizontal-space">
      <p class="module-name">{{module.moduleName}}</p>
    </div>
    <mat-card-content>
      <mat-divider class="divider"></mat-divider>
      <div class="card-content">
        <p class="module-description">{{module.moduleDescription}}</p>
      </div>
      <app-chapter-admin-list [moduleId]="module.moduleId!"></app-chapter-admin-list>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <mat-spinner mode="indeterminate"></mat-spinner>
</ng-template>
