mat-card {
  background-color: #333333;
}

.module-name {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, sans-serif;
  line-height: 26px;
  color: #02C0A2;
  margin-bottom: 5px;
}

.module-description{
  text-align: justify;
  text-justify: auto;
  margin-right: 14px;
}

.horizontal-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.divider {
  margin-bottom: 10px;
  margin-top: 5px;
}

.card-content {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 40px;
  max-height: 110px;
  margin-right: -14px;
}


// SCROLL BAR
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
