mat-card {
  height: 200px;
}

.module-name{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 0px;
}

.module-name-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  overflow: hidden;
}

.horizontal-space {
  min-height: 30%;
  max-height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.icon {
  transform:scale(0.8)
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: fit-content;
}

.module-description{
  text-align: justify;
  text-justify: auto;
  margin-right: 14px;
}

.module-description::after{
  content: "\a";
  white-space: pre;
}

.divider{
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-content {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 40px;
  max-height: 110px;
  margin-right: -14px;
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
