<div *ngIf="module">
  <mat-card>
    <div class="horizontal-space space-items margin10">
      <div class="horizontal-flex full-width">
        <p class="module-name" *ngIf="!isEditingName">{{this.moduleName}}</p>

        <!-- editing user name -->
        <mat-form-field class="input-field" *ngIf="isEditingName">
          <mat-label>Module Name</mat-label>
          <input matInput name="text" required placeholder="{{moduleName}}" [(ngModel)]="newModuleName" type="text">
        </mat-form-field>
      </div>

      <div class="horizontal-flex">
        <app-edit-button class="button" (click)="editButtonClick()" [isEditing]="isEditingName"></app-edit-button>

        <!-- SAVE BUTTON -->
        <a *ngIf="savingInProgress" mat-raised-button color="accent" class="button save-button" (click)="saveModuleChanges()">
          saving...</a>
        <a *ngIf="!savingInProgress" mat-raised-button color="primary" class="button save-button"
           (click)="saveModuleChanges()">save</a>
      </div>
    </div>

    <mat-card-content>
      <mat-divider class="divider"></mat-divider>
      <app-user-info-label attributeType="text" attributeName='Module Description' attributeInfo="Module Description"
                             [(value)]="this.moduleDescription"></app-user-info-label>
      <div style="height: 5px"></div>
      <app-chapter-admin-list [moduleId]="module.moduleId!"></app-chapter-admin-list>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <mat-spinner mode="indeterminate"></mat-spinner>
</ng-template>
