<div class="centered-content">
    <div class="centered-item">
        <div class="inner-margin">
          <p class="text">this is</p>
          <h1 class="main-heading">STExS</h1>
        </div>
        <mat-divider></mat-divider>
        <div class="inner-margin">
          <p class="text">
            STExS is short for "Software Technology Examination System". This project is being developed by a group of students at
            <a class="text-link" href="https://www.tu-chemnitz.de/index.html.en" target="_blank">TU Chemnitz</a>.
            It's designed to support research regarding the learning progress of programming beginners.
          </p>
          <p class="text">To get started log in or register a new account.</p>
        </div>
    </div>
</div>
