<div *ngIf="this.chapters != null && this.module != null && this.participationStatus != null">
  <div *ngIf="this.participationStatus == moduleParticipationStatus.Admin else unauthorized">
    <mat-card>
      <mat-card-title class="heading-text">Chapters</mat-card-title>
      <mat-spinner class="loading" *ngIf="!this.chapters" mode="indeterminate" color="primary"></mat-spinner>
      <div cdkDropList class="chapter-list" (cdkDropListDropped)="drop($event)">
        <div cdkDrag class="chapter-list-item" *ngFor="let entry of this.chapters">
          <app-chapter-admin-listitem [showEditButton]="true" [chapter]="entry"></app-chapter-admin-listitem>
        </div>
      </div>
    </mat-card>

    <div style="height: 10px"></div>

    <mat-progress-bar *ngIf="this.showLoading" color="accent" mode="indeterminate"></mat-progress-bar>
    <mat-card [ngClass]="this.showLoading ? 'hide-top-round-corners' : ''">
        <form (ngSubmit)="this.createChapter()" (keydown.enter)="$event.preventDefault()">
          <div class="horizontal-space">
            <mat-card-title class="heading-text">Create a new chapter</mat-card-title>
            <div class="horizontal-align">
              <button type="submit" mat-raised-button color="accent">
                <div class="horizontal-button">
                  <p class="vertically-centered">create</p>
                </div>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="horizontal-container">
            <div class="margin5px name-field-div">
              <mat-form-field class="name-field-wrapper">
                <mat-label>Name</mat-label>
                <input matInput name="name" [(ngModel)]="this.chapterCreateItem.chapterName">
              </mat-form-field>
            </div>
            <div class="margin5px description-field-div">
              <mat-form-field class="description-field-wrapper">
                <mat-label>Description</mat-label>
                <input matInput name="description" [(ngModel)]="this.chapterCreateItem.chapterDescription">
              </mat-form-field>
            </div>
          </div>
        </form>
    </mat-card>
  </div>
  <ng-template #unauthorized>
    Unauthorized
  </ng-template>
</div>

<mat-spinner *ngIf="this.isLoadingChapters" class="loading" mode="indeterminate"></mat-spinner>
