<mat-progress-bar *ngIf="this.isSaving" color="accent" mode="indeterminate"></mat-progress-bar>
<mat-card class="master-card">
  <div *ngIf="this.exercise != null && this.possibleAnswers != null && this.userSolution != null else unableToDisplay"
    class="question">
    <mat-label class="title">{{this.exercise?.exerciseName}}</mat-label>
    <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>
    <quill-view-html [content]="exercise!.exerciseDescription!" theme="bubble"></quill-view-html>
    <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>
    <h2>Parts of the Solution</h2>
    <div cdkDropListGroup>

      <app-indented-drop-list [readonly]="this.exercise?.userHasSolvedExercise ?? false" #partsList [cdkDropListConnectedTo]="[solutionList.dropList]"
        [(cdkDropListData)]="this.possibleAnswers">

      </app-indented-drop-list>

      <h2>Your Solution</h2>
      <app-indented-drop-list [readonly]="this.exercise?.userHasSolvedExercise ?? false" [cdkDropListConnectedTo]="[partsList.dropList]" [(cdkDropListData)]="this.userSolution"
        #solutionList>

      </app-indented-drop-list>
    </div>
    <div *ngIf="exercise?.userHasSolvedExercise ?? false then disabledSubmitButton else submitButton"></div>
    <ng-template #submitButton>
      <button class="submit" mat-raised-button color="accent"
        (click)="this.createNewSubmission(this.timeTrackId,true,this.userSolution)">
        <mat-label>submit</mat-label>
      </button>
    </ng-template>
    <ng-template #disabledSubmitButton>
      <button matTooltip="You have already submitted your final answer" class="submit mat-button-disabled" disableRipple
        mat-raised-button color="accent">
        submit
      </button>

    </ng-template>
  </div>
  <ng-template #unableToDisplay>
    <div *ngIf="this.exercise == undefined else errorWhileLoading">
      <mat-spinner>
      </mat-spinner>
    </div>
    <ng-template #errorWhileLoading>
      <p style="padding-bottom: 15px">Unable to load exercise</p>
    </ng-template>
  </ng-template>
</mat-card>
