<div class="container">
    <mat-card>
        <mat-card-subtitle>Login</mat-card-subtitle>
        <mat-card-title>STeX</mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
                <button mat-button mat-raised-button color="accent">Login</button>
                <a mat-button mat-stroked-button color="secondary" routerLink="">Register</a>
            </form>
        </mat-card-content>
    </mat-card>


</div>
