<div class="container">
  <div class="flex-item">
    <mat-progress-bar *ngIf="this.showLoading" color="accent" mode="indeterminate"></mat-progress-bar>
    <mat-card [ngClass]="this.showLoading ? 'hide-top-round-corners' : ''">
      <mat-card-subtitle>Login</mat-card-subtitle>
      <mat-card-title>STExS</mat-card-title>
      <mat-card-content>
        <form>
          <!-- E-MAIL -->
          <mat-form-field style="width: 100%">
            <mat-label>E-Mail</mat-label>
            <input matInput
                   [(ngModel)]="this.email"
                   id="emailInput"
                   name="email"
                   required
                   #emailInput
                   type="email">
          </mat-form-field>
          <mat-label *ngIf="showEmailError" class="validation-error">Please enter a valid email address!</mat-label>

          <!-- PASSWORD -->
          <div class="pw-container">
            <mat-form-field class="pw-input">
              <mat-label>Password</mat-label>
              <input matInput
                     #passwordInput
                     id="passwordInput"
                     (keyup.enter)="loginProcedure()"
                     [(ngModel)]="this.password"
                     name="password" required
                     [type]="this.showPassword ? 'text' : 'password'">
            </mat-form-field>
            <button class="icon-button" mat-button (click)="togglePassword()" type="button">
              <mat-icon *ngIf="this.showPassword">visibility</mat-icon>
              <mat-icon *ngIf="!this.showPassword">visibility_off</mat-icon>
            </button>
          </div>
          <mat-label *ngIf="showPasswordError" class="validation-error">Please enter a password!</mat-label>

          <!-- LOGIN BUTTON -->
          <button (click)="loginProcedure()" #loginButton id="loginButton" color="accent" mat-button mat-raised-button>Login</button>

          <!-- REGISTER BUTTON -->
          <button color="secondary" routerLink="/register" mat-button mat-stroked-button>Register</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
