
mat-card {
    flex-direction: column;

    padding: 20px;
    min-width: 220px;
    width: 400px;
    max-width: 600px;

}

.container {
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 10px;
}

a {
    margin-top: 10px;
}

mat-form-field {
    margin-top: 10px;
}
