<div class="container">
    <div class="flex-item">
        <mat-progress-bar *ngIf="this.showLoading" mode="indeterminate" color="accent"></mat-progress-bar>
        <mat-card [ngClass]="this.showLoading ? 'hide-top-round-corners' : ''">
            <mat-card-subtitle>Login</mat-card-subtitle>
            <mat-card-title>STExS</mat-card-title>
            <mat-card-content>
                <form>
                    <!-- E-MAIL -->
                    <mat-form-field>
                        <mat-label>E-Mail</mat-label>
                        <input type="email" (keyup)="validateEmail($event)" matInput required>
                    </mat-form-field>
                    <mat-label class="validation-error" *ngIf="showEmailError">Please enter a valid email address!</mat-label>

                    <!-- PASSWORD -->
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" (keyup)="validatePassword($event)" matInput required>
                    </mat-form-field>
                    <mat-label class="validation-error" *ngIf="showPasswordError">Please enter a password!</mat-label>

                    <mat-checkbox [checked]="this.stayLoggedIn" (change)="this.stayLoggedIn = $event.checked">Stay logged in</mat-checkbox>

                    <!-- LOGIN BUTTON -->
                    <div *ngIf="this.loginButtonEnabled then showLogin else disableLogin"></div>
                    <ng-template #showLogin>
                        <button type="button" (click)="login()" mat-button mat-raised-button color="accent">Login</button>
                    </ng-template>
                    <ng-template #disableLogin>
                    <button type="button" disabled mat-button mat-raised-button color="accent">Login</button>
                    </ng-template>


                    <a mat-button mat-stroked-button color="secondary" href="/register">Register</a>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
