:host {
  padding: 30px
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loading{
  transform: scale(0.5);
  margin: auto;
}

.list-container{
  margin:10px;
}

.list-item{
  background-color: #555454;
  margin:10px;
  padding:0px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  size: 100%;
}

.option-panel {
  border-top:#8d8d8d;
  border-top-style: solid;
  border-top-width: 1px;
  margin:0px;
}
