<div style="max-width: 1500px; margin:auto;">
  <div class="horizontal-container" style="justify-content: space-between">
    <mat-label class="heading vertically-centered">Manage Users</mat-label>
    <mat-form-field class="vertically-centered" (keyup)="this.searchUsers()">
      <mat-label>Search Users</mat-label>
      <input matInput [(ngModel)]="searchString">
      <mat-icon matSuffix
                >search</mat-icon>
    </mat-form-field>
  </div>


  <mat-card class="table-container">
    <table mat-table
           matSort
           [dataSource]="this.dataSource!"
           (matSortChange)="announceSortChange($event)"
           [hidden]="this.isLoading">

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- highestRoleType Column -->
      <ng-container matColumnDef="highestRoleType">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngIf="element.highestRoleType == roles.Admin" selected color="warn">Admin</mat-chip>
            <mat-chip *ngIf="element.highestRoleType == roles.Teacher" selected color="accent">Teacher</mat-chip>
            <mat-chip *ngIf="element.highestRoleType == roles.User" selectable="false">User</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> E-Mail </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <mat-label style="height: 15px">
              {{element.email}}
            </mat-label>
            <mat-icon *ngIf="element.emailConfirmed"
                      matTooltip="E-Mail is verified">check</mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- matrikelNumber Column -->
      <ng-container matColumnDef="matrikelNumber">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Matrikel Number </th>
        <td mat-cell *matCellDef="let element"> {{element.matrikelNumber}} </td>
      </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button
                  [matMenuTriggerFor]="menu"
                  matTooltip="more actions"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item
                    matTooltip="select a new role for this user"
                    matTooltipPosition="before"
                    (click)="openDialog(element)">change role</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-card>

  <mat-spinner *ngIf="this.isLoading" style="margin:auto"></mat-spinner>
</div>
