.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #424242;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  overflow: hidden;
  min-width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
}

.attribute-heading {
  font-size: 11px;
  line-height: 12px;
}

.attribute-value {
  font-size: 16px;
  margin-top: 3px;
  text-align: justify;
}

.input-field {
  margin-bottom: -17px;
  margin-top: -4px;
  width: 100%;
}

.validation-error {
  color: firebrick;
  font-size: 12px;
}
