
<div class="vertical-flex">

  <div class="horizontal-flex space-items margin10">
    <div class="horizontal-flex">
      <div class="user-icon-container">
        <mat-icon class="user-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
      </div>
      <p class="name-heading">{{userName}}</p>
    </div>
    <app-edit-button (click)="isEditingName = !isEditingName" [isEditing]="isEditingName"></app-edit-button>

  </div>

  <mat-divider style="min-width: 200px"></mat-divider>

  <div class="margin10">
    <app-user-info-label [attributeName]="'first name'" [attributeInfo]="firstName"></app-user-info-label>
    <app-user-info-label [attributeName]="'last name'" [attributeInfo]="lastName"></app-user-info-label>
    <app-user-info-label [attributeName]="'E-Mail'" [attributeInfo]="email"></app-user-info-label>
    <app-user-info-label [attributeName]="'matrikel number'" [attributeInfo]="matrikelNummer"></app-user-info-label>
    <app-user-info-label [attributeName]="'phone number'" [attributeInfo]="phoneNumber"></app-user-info-label>

    <!-- isAdmin / isTeacher
    <app-user-info-label [attributeName]="'isAdmin'" [attributeInfo]="isAdmin.toString()"></app-user-info-label>
    <app-user-info-label [attributeName]="'isTeacher'" [attributeInfo]="isTeacher.toString()"></app-user-info-label>
    -->
  </div>
</div>

