<div *ngIf="module">
  <mat-card>
    <div  class="horizontal-space">
      <div class="heading-desc-container">
        <div class="module-name-container">
          <p *ngIf="!this.module.isArchived" class="module-name">{{module.moduleName}}</p>
          <p *ngIf="this.module.isArchived" class="module-name archived">{{module.moduleName}}</p>
        </div>
        <mat-card-content>
          <mat-divider class="divider"></mat-divider>
          <div class="card-content">
            <p *ngIf="!this.module.isArchived" class="module-description">{{module.moduleDescription}}</p>
            <p *ngIf="this.module.isArchived" class="module-description archived">{{module.moduleDescription}}</p>
          </div>
        </mat-card-content>
      </div>
      <div class="button-container option-panel">
        <div class="button-container">
          <button *ngIf="isModuleAdmin" mat-button [routerLink]="['/module/administrate']" [queryParams]="{id:module.moduleId}">
            <mat-icon class="icon" aria-hidden="false" aria-label="Edit Button" fontIcon="edit"></mat-icon>
          </button>
          <button *ngIf="!isModuleAdmin" [routerLink]="['/module/details']" [queryParams]="{id:module.moduleId}" mat-button >Details <mat-icon>send</mat-icon></button>
          <button mat-button>
            <mat-icon class="icon" aria-hidden="false" aria-label="Favorite Buttonn" fontIcon="favorite" ></mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button *ngIf="this.isModuleAdmin && !this.module.isArchived" mat-button color="warn" (click)="handleArchiving()">
            <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="archive" ></mat-icon>
          </button>
          <button *ngIf="this.isModuleAdmin && this.module.isArchived" mat-button color="primary" (click)="handleArchiving()">
            <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="unarchive" ></mat-icon>
          </button>
          <button *ngIf="this.isModuleAdmin" mat-button color="warn" (click)="openDeleteDialog()">
            <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="delete_forever" ></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<ng-template #loading>
  <mat-spinner mode="indeterminate"></mat-spinner>
</ng-template>
