<mat-progress-bar [style.visibility]="!this.savingInProgress?'hidden':''" color="accent" mode="indeterminate"></mat-progress-bar>
<mat-card *ngIf="!this.isLoading" [ngClass]="this.savingInProgress ? 'hide-top-round-corners' : ''" class="master-card">
  <div *ngIf="this.participationStatus == moduleParticipationStatus.Admin else unauthorized">

    <!-- HEADER -->
    <div class="horizontal-container full-width space-between" style="margin-bottom: 10px">

      <!-- LEFT SIDE OF HEADER -->
      <div class="vertical-container full-height full-width space-between">
        <div class="marginTB-5px" style="margin-bottom: 10px">
          <mat-label>chapter of </mat-label>
          <a class="text-link module-name" (click)="linkToModule()">{{this.moduleName}}</a>
        </div>
        <p class="name chapter-name" *ngIf="!isEditingName">{{this.chapterName}}</p>
        <!-- editing chapter name -->
        <mat-form-field class="input-field" *ngIf="isEditingName" style="margin-bottom: -28px; margin-top: -2px">
          <mat-label>Chapter Name</mat-label>
          <input class="name-input" matInput name="text" required placeholder="{{chapterName}}" [(ngModel)]="newChapterName" type="text">
        </mat-form-field>
      </div>

      <!-- RIGHT SIDE OF HEADER -->
      <div class="vertical-container space-between full-height">
        <div></div>
        <div class="horizontal-container">
          <app-edit-button style="margin-right: 10px" class="button" (click)="nameEditButton()" [isEditing]="isEditingName"></app-edit-button>
          <button *ngIf="savingInProgress" mat-raised-button color="accent" class="button" (click)="saveChapterChanges()">
            saving...</button>
          <button *ngIf="!savingInProgress" mat-raised-button color="primary" class="button"
          (click)="saveChapterChanges()">save</button>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="horizontal-container full-width marginTB-5px space-between">
      <div></div>
      <button class="button" mat-button color="warn" (click)="deleteChapterDialog()">
        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="delete_forever" ></mat-icon>
        DELETE
      </button>
    </div>

    <mat-divider></mat-divider>

    <!-- chapter description -->
    <app-user-info-label attributeType="text" attributeName='Chapter Description' attributeInfo="Chapter Description"
    [(value)]="this.chapterDescription"></app-user-info-label>

    <mat-divider style="margin-bottom: 5px"></mat-divider>

    <div class="task-card">
      <mat-label class="exercise-heading">Exercises</mat-label>
      <div *ngIf="this.exerciseList != null else loading" class="exercise-container">
        <div style="margin-bottom: 5px" *ngFor="let exercise of this.exerciseList">
          <app-task-list-item [exercise]="exercise"
                              (exerciseChange)="this.loadExercises()"></app-task-list-item>
        </div>
      </div>
      <ng-template #loading>
        <mat-spinner mode="indeterminate" style="transform: scale(0.5); margin:auto;"></mat-spinner>
      </ng-template>
      <mat-label *ngIf="!this.hasExercises">No exercises in this chapter! Add one from the Exercise List or create a new one!</mat-label>
    </div>

    <mat-divider style="margin-bottom: 10px"></mat-divider>

    <mat-card>
      <div class="horizontal-container full-width space-between" style="margin-bottom: 5px">
        <mat-card-title class="vertically-centered">Create a new Exercise</mat-card-title>
        <button mat-raised-button color="accent" (click)="createExercise()">create</button>
      </div>
      <mat-card-content style="height: 40px">
        <mat-divider style="margin-bottom: 10px"></mat-divider>
        <mat-radio-group class="radio-group" [(ngModel)]="exerciseType">
          <mat-radio-button [value]="ExerciseTypeEnum.CodeOutput">Code Output</mat-radio-button>
          <mat-radio-button [value]="ExerciseTypeEnum.Parson">Parson Puzzle</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>

    <!-- EXERCISE LIST -->
    <app-task-list [chapterId]="this.chapterId" (exerciseChange)="this.loadExercises()"></app-task-list>
  </div>

  <ng-template #unauthorized>
    Unauthorized
  </ng-template>
</mat-card>
<mat-spinner *ngIf="this.isLoading" mode="indeterminate" style="transform: scale(0.5); margin:auto;"></mat-spinner>


