.name {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, sans-serif;
    line-height: 26px;
    color: #02C0A2;
  }

  .chapter-name {
    margin-bottom: 0;
  }

  .chapter-description{
    text-align: justify;
    text-justify: auto;
    margin-right: 14px;
  }

  .full-width {
    width: 100%;
  }

  .button {
    width: fit-content;
    height: fit-content;
  }

  .marginTB-5px {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .module-name {
    color: #02C0A2;
  }

  .text-link:hover {
    cursor: pointer;
  }

  .name-input {
    padding-bottom: -5px;
  }

  .input-field {
    width: 70%;
    min-width: 300px;
    max-width: available;
  }

  .task-card {
    background-color: #424242;
    margin-top: 5px;
    margin-bottom: 5px;

    max-height: 50vh;
    overflow-y: scroll;

    overflow-x: hidden;
    width: 100%;
  }

  .hide-top-round-corners{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .radio-group {
    height: 40px;
  }

  .radio-group > *:not(:last-child) {
    margin-right: 40px;
  }

  .vertically-centered {
    margin-top: auto;
    margin-bottom: auto;
  }

  .full-height {
    min-height: 100%;
  }

  .space-between {
    justify-content: space-between;
  }

  // SCROLL BAR
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 5px;
  }

  .master-card {
    min-width: 300px;
    background-color: #383838;
    margin: auto;
    max-width: 1500px;
  }
