<mat-card class="main-mat-card">
  <div>
    <div class="horizontal-container card-title">
      <mat-card-title class="vertically-centered">Create a new Code Output Exercise</mat-card-title>
      <button mat-raised-button color="accent" class="create-button">create</button>
    </div>
    <mat-card-content>
      <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>
      <app-create-exercise></app-create-exercise>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-form-field class="form-field">
      <mat-label>Expected Answer</mat-label>
      <textarea matInput cdkTextareaAutosize [(ngModel)]="this.expectedAnswer"></textarea>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="this.isMultilineResponse">allow multiline response</mat-checkbox>
    <mat-form-field class="form-field">
      <mat-label>Achievable Points</mat-label>
      <input matInput type="number">
    </mat-form-field>
  </div>
</mat-card>
