<ng-container [ngSwitch]="exerciseType">
  <app-code-output-preview *ngSwitchCase="ExerciseType.CodeOutput" [exerciseId]="exerciseId" [submissionId]="submissionId" >

  </app-code-output-preview>

  <app-cloze-text-preview *ngSwitchCase="ExerciseType.ClozeText" [exerciseId]="exerciseId" [submissionId]="submissionId">
  </app-cloze-text-preview>

  <app-parson-preview *ngSwitchCase="ExerciseType.Parson" [exerciseId]="exerciseId" [submissionId]="submissionId">

  </app-parson-preview>

  <div *ngSwitchDefault>
    <p>Exercise type not supported</p>
  </div>
</ng-container>

<div *ngIf="this.exercise != null && this.grading != null else noData">
  <span>{{this.grading.automaticGradingDate}}</span>
  <mat-form-field>
    <input matInput min="0" [max]="this.exercise.achievablePoints" (keyup)="gradeChange($event)" placeholder="Manually grade" type="number"/>
  </mat-form-field>
</div>

<ng-template #noData>
  <mat-spinner *ngIf="this.exercise === undefined || this.grading === undefined else error"></mat-spinner>
  <ng-template #error>Error loading data</ng-template>
</ng-template>
