<ng-container [ngSwitch]="exerciseType">
  <app-code-output-preview *ngSwitchCase="ExerciseType.CodeOutput" [exerciseId]="exerciseId" [submissionId]="submissionId" >

  </app-code-output-preview>

  <app-cloze-text-preview *ngSwitchCase="ExerciseType.ClozeText" [exerciseId]="exerciseId" [submissionId]="submissionId">
  </app-cloze-text-preview>

  <app-parson-preview *ngSwitchCase="ExerciseType.Parson" [exerciseId]="exerciseId" [submissionId]="submissionId">

  </app-parson-preview>

  <div *ngSwitchDefault>
    <p>Exercise type not supported</p>
  </div>
</ng-container>

<mat-divider style="margin-top: 10px; margin-bottom: 10px"></mat-divider>

<div *ngIf="this.exercise != null && this.grading != null else noData" class="vertical-container">
  <span>{{this.grading.automaticGradingDate}}</span>
  <div class="horizontal-container" style="justify-content: space-between; width: 100%">
    <mat-form-field class="vertically-centered">
      <input matInput min="0" [max]="this.exercise!.achievablePoints!" (keyup)="gradeChange()" [(ngModel)]="this.grading!.points" type="number">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="setGrade()">grade</button>
  </div>

  <mat-label style="margin-top: 10px">Add a comment</mat-label>
  <textarea matInput [(ngModel)]="this.grading!.comment" placeholder="Comment" style="margin-bottom: 5px; border: 1px solid #595959; padding: 2px"></textarea>
</div>

<ng-template #noData>
  <mat-spinner *ngIf="this.exercise === undefined || this.grading === undefined else error"></mat-spinner>
  <ng-template #error>Error loading data</ng-template>
</ng-template>
