mat-card {
  min-width: 350px;
}

.heading-text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.margin5px {
  margin: 5px;
}

.horizontal-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horizontal-button {
  width: inherit;
  display: flex;
  flex-direction: row;
}

.vertically-centered {
  margin-top: auto;
  margin-bottom: auto;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
  width: inherit;
  margin-bottom: 0px;
}

.name-field-div {
  width: 30%;
}

.name-field-wrapper{
  width: 100%;
  height: 100%;
}

.description-field-div {
  display: table-cell;
  width: inherit;
  vertical-align: top;
  margin-bottom: -5px;
}

.description-field-wrapper {
  width: 100%;
  padding-bottom: -10px;
}

.margin5px-right {
  margin-right: 5px;
}

.slider-div {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

mat-slider {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.slider-value-label {
  width: 70px;
  text-align: right;
}

.hide-top-round-corners{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
