<mat-card class="main-mat-card">
    <div *ngIf="!this.loading else loadingSpinner">
      <div class="horizontal-container card-title" style="align-items: center">
        <div class="horizontal-container" style="align-items: center">
          <button mat-icon-button (click)="goBack()" style="margin-right: 10px"><mat-icon>arrow_back</mat-icon></button>
          <mat-card-title class="vertically-centered" style="margin-top: 0; margin-bottom: 0">Create a new Parson Puzzle Exercise</mat-card-title>
        </div>
        <button *ngIf="!isEditingExercise" mat-raised-button color="accent" class="create-button" (click)="createExercise()">create</button>
        <button *ngIf="isEditingExercise" mat-raised-button color="accent" class="create-button" (click)="updateExercise()">update</button>
      </div>
      <mat-card-content>
        <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>
        <app-create-exercise [(description)]="this.description" [(name)]="this.name" ></app-create-exercise>
        <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>

        <!--drag drop-->
        <div cdkDropListGroup>
          <!--add puzzle-->
          <div class="drag-container">
            <h2>Add Element</h2>
            <div>
              <!-- angular material input -->
              <mat-form-field class="form-field">
                <mat-label>Element</mat-label>
                <input matInput type="text" [(ngModel)]="this.newLine">
              </mat-form-field>
              <button mat-stroked-button color="accent" (click)="addLine()">Add</button>
            </div>
          </div>
          <!--parson puzzle-->
          <div class="drag-container">
            <h2>Parson Puzzle</h2>
          <app-indented-drop-list
            [cdkDropListData]="puzzles"
            style="display: block; width: 100%"></app-indented-drop-list>
          </div>
          <!--delete puzzle-->
          <div class="drag-container">
            <h2>Delete Element</h2>
            <div
              cdkDropList
              #delete_puzzle_list="cdkDropList"
              [cdkDropListData]="empty"
              id="delete_puzzle_list"
              class="drag-list drop-list"
              (cdkDropListDropped)="drop($event)" >

              <div *ngIf="!draggingOutsideSourceList;"class="center-container min-height-container">
                <mat-icon>delete_outline</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <mat-divider style="margin-top: 5px; margin-bottom: 5px"></mat-divider>

        <div class="horizontal-container vertically-centered">
          <div class="vertical-container form-field-container checkbox-container">
            <mat-checkbox class="vertically-centered" [(ngModel)]="this.isMultilineResponse">allow multiline response</mat-checkbox>
          </div>
          <div class="form-field-container">
            <mat-form-field class="form-field">
              <mat-label>Achievable Points</mat-label>
              <input matInput type="number" [(ngModel)]="this.achievablePoints">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

    </div>
    <ng-template #loadingSpinner>
      <mat-spinner mode="indeterminate" style="scale: 0.5"></mat-spinner>
    </ng-template>
  </mat-card>
