<p class="heading">Administrate your modules</p>
<div class="modules-list">
  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header class="expansion-header">
      <mat-panel-title>
        Modules
      </mat-panel-title>
      <mat-panel-description>
        Click to see your modules
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-module-list [moduleList]="this.moduleList"></app-module-list>
  </mat-expansion-panel>

</div>

<mat-divider class="divider"></mat-divider>

<div style="margin-top: 1.5rem">
  <app-module-create (onModuleCreate)="this.loadModules()"></app-module-create>
</div>

<mat-divider class="divider"></mat-divider>

<p class="heading">Member in Modules</p>


