<div class="component-width">
  <p class="heading">Administrate your modules</p>
  <mat-card class="modules-list">
    <mat-card-title>Modules</mat-card-title>
    <mat-card-content>
      <mat-divider class="divider"></mat-divider>
      <app-module-list [moduleList]="this.moduleList" (moduleChange)="loadModules()" [isModuleAdmin]="true"></app-module-list>
    </mat-card-content>
  </mat-card>

  <mat-divider class="divider"></mat-divider>

  <app-module-create (onModuleCreate)="this.loadModules()"></app-module-create>

  <mat-divider class="divider"></mat-divider>

  <p class="heading">Pending Request</p>
  <div *ngIf="this.pendingParticipations != null else loading">
    <app-member-list-admin style="width: 100%" [participations]="this.pendingParticipations"></app-member-list-admin>
  </div>
  <ng-template #loading>
    <mat-spinner mode="indeterminate" style="scale: 0.5"></mat-spinner>
  </ng-template>
</div>
