<div class="grid" style="width: 100%;">
  <div class="vertical-container task-list" style="" *ngIf="!this.isLoading">
    <mat-card *ngFor="let exercise of exerciseList"
              style="margin-bottom: 5px"
              [ngClass]="{'has-solved' : exercise.userHasSolvedExercise, 'selected-exercise' : exercise.id == this.currentExerciseId }"
              (click)="this.updateExerciseCompById(exercise.id)">
      <mat-label style="display: flex; align-items: center">
        <span>{{exercise.exerciseName}}</span>
        <span style="margin-left: auto">
          <mat-chip-list>
                <mat-chip disableRipple="true" selected>{{exercise.exerciseType | exerciseType}}</mat-chip>
              </mat-chip-list>
        </span></mat-label>
    </mat-card>
  </div>

  <mat-card *ngIf="!this.isLoading" class="exercise-cycler">
    <button *ngIf="this.currentExerciseNr == 0" disabled mat-stroked-button color="primary" (click)="this.updateExerciseComp(-1)" class="vertically-centered">previous</button>
    <button *ngIf="this.currentExerciseNr > 0" mat-stroked-button color="primary" (click)="this.updateExerciseComp(-1)" class="vertically-centered">previous</button>
    <mat-label class="number-display vertically-centered">{{this.currentExerciseNr + 1}} / {{this.exerciseListLength}}</mat-label>
    <button *ngIf="this.currentExerciseNr == this.exerciseListLength - 1" disabled mat-stroked-button color="primary" (click)="this.updateExerciseComp(1)" class="vertically-centered">next</button>
    <button *ngIf="this.currentExerciseNr < this.exerciseListLength - 1" mat-stroked-button color="primary" (click)="this.updateExerciseComp(1)" class="vertically-centered">next</button>
  </mat-card>

  <div class="comp-container" *ngIf="this.showSubmissionWindow">
    <app-solve-code-output *ngIf="this.currentExerciseType == exerciseType.CodeOutput" [id]="this.currentExerciseId" (solvedChange)="changeSolvedStatus($event)"></app-solve-code-output>
    <app-solve-gap-text *ngIf="this.currentExerciseType == exerciseType.ClozeText" [id]="this.currentExerciseId" (solvedChange)="changeSolvedStatus($event)"></app-solve-gap-text>
    <app-solve-parson-puzzle *ngIf="this.currentExerciseType == exerciseType.Parson" [id]="this.currentExerciseId" (solvedChange)="changeSolvedStatus($event)"></app-solve-parson-puzzle>
  </div>
  <mat-spinner *ngIf="this.isLoading" style="margin: 0 auto; scale: 0.5;"></mat-spinner>
</div>
