<div class="grid" style="width: 100%;">
  <div class="vertical-container task-list" style="" *ngIf="!this.isLoading">
    <mat-card *ngFor="let exercise of exerciseList"
              style="margin-bottom: 5px"
              [ngClass]="{'has-solved' : exercise.userHasSolvedExercise, 'selected-exercise' : exercise.id == this.currentExerciseId }"
              (click)="this.updateExerciseCompById(exercise.id)">
      <mat-label>{{exercise.exerciseName}}</mat-label>
    </mat-card>
  </div>

  <mat-card *ngIf="!this.isLoading" class="exercise-cycler">
    <button *ngIf="this.currentExerciseNr == 0" disabled mat-stroked-button color="primary" (click)="this.updateExerciseComp(-1)" class="vertically-centered">previous</button>
    <button *ngIf="this.currentExerciseNr > 0" mat-stroked-button color="primary" (click)="this.updateExerciseComp(-1)" class="vertically-centered">previous</button>
    <mat-label class="number-display vertically-centered">{{this.currentExerciseNr + 1}} / {{this.exerciseListLength}}</mat-label>
    <button *ngIf="this.currentExerciseNr == this.exerciseListLength - 1" disabled mat-stroked-button color="primary" (click)="this.updateExerciseComp(1)" class="vertically-centered">next</button>
    <button *ngIf="this.currentExerciseNr < this.exerciseListLength - 1" mat-stroked-button color="primary" (click)="this.updateExerciseComp(1)" class="vertically-centered">next</button>
  </mat-card>

  <div class="comp-container">
    <app-solve-code-output *ngIf="this.showCodeOutput" [id]="this.currentExerciseId" (solvedChange)="changeSolvedStatus($event)"></app-solve-code-output>
    <app-solve-gap-text [id]="this.currentExerciseId"></app-solve-gap-text>
  </div>
  <mat-spinner *ngIf="this.isLoading" style="margin: 0 auto; scale: 0.5;"></mat-spinner>
</div>
