.module-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, sans-serif;
  color: #02C0A2;
}

.chapter-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, sans-serif;
}

.chapter-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #02C0A2;
}

.exercise-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-bottom: 1px solid #505050;
  width: 100%;
}

.example-accordion {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.example-accordion-item {
  display: block;
  border: solid 1px #505050;
  background-color: #393939;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #353535;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
